﻿@model MvcBlog.Models.Blog

@{
    ViewBag.Title = "Blog";
}



<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div id="login">
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Blog</legend>

        UserName: @ViewBag.Message

        <div class="editor-label">
            @Html.LabelFor(model => model.BlogTitle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BlogTitle)
            @Html.ValidationMessageFor(model => model.BlogTitle)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
</div>