﻿@model MvcBlog.Models.BlogPost

@{
    ViewBag.Title = "BlogPost";
}


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div id="login">
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>BlogPost</legend>


        <div class="editor-label">
            @Html.LabelFor(model => model.PostTitle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PostTitle)
            @Html.ValidationMessageFor(model => model.PostTitle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PostContent)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.PostContent)
            @Html.ValidationMessageFor(model => model.PostContent)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PostTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PostTime)
            @Html.ValidationMessageFor(model => model.PostTime)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
        @ViewBag.Message
    </fieldset>
   
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
</div>