﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
</head>

<body>
<div id="header">
<div id="logo">
    </div>
<div id="title"><h1>Welcome to Cool Blogging.</h1>
@RenderSection("login", false)

</div>
    </div>
    <div id="wrapper">
    @RenderBody()
    </div>
    
    <div id="footer"></div>
    
</body>
</html>
