body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header,
footer,
nav,
section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

#header
{
   margin: 0 auto;
   height:150px;
   width:960px;
   background-color:#DEDEDE;
   -webkit-border-top-left-radius: 3px;
   -webkit-border-top-right-radius: 3px;
   -moz-border-radius-topleft: 3px;
   -moz-border-radius-topright: 3px;
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;   
}
#logo
{
   display:block;
   float:left;
   width:150px;
   height:150px;   
   background:url(themes/images/logo.png);
}
#title
{
   display:block;    
   float:left;
   text-align:center;
   margin:30px 5px 15px 60px;    
}
#wrapper
{
   display:block;
   margin:0 auto;
   height:710px;
   width:960px;
   background-color:#d4d4d4;
}
#footer
{
   display:block;
   margin:0 auto;
   height:60px;
   width:960px;
   background-color:#DEDEDE;
   -webkit-border-bottom-right-radius: 3px;
   -webkit-border-bottom-left-radius: 3px;
   -moz-border-radius-bottomright: 3px;
   -moz-border-radius-bottomleft: 3px;
   border-bottom-right-radius: 3px;
   border-bottom-left-radius: 3px;
}
#login
{
  display:block;
  margin:0 auto;
  padding:20px;
  height:400px;
  width:500px;
  background-color:White;
}
