﻿@model MvcBlog.Models.BlogPost

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>BlogPost</legend>

    <div class="display-label">Blog</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Blog.BlogTitle)
    </div>

    <div class="display-label">PostTitle</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostTitle)
    </div>

    <div class="display-label">PostContent</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostContent)
    </div>

    <div class="display-label">PostTime</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostTime)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
