﻿@model MvcBlog.Models.BlogPost

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div id="login">
<fieldset>
    <legend>BlogPost</legend>

    <div class="display-label">Blog</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Blog.BlogTitle)
    </div>

    <div class="display-label">PostTitle</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostTitle)
    </div>

    <div class="display-label">PostContent</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostContent)
    </div>

    <div class="display-label">PostTime</div>
     <div class="display-label">
        @Html.LabelFor(model => model.PostTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostTime)
        @Html.ValidationMessageFor(model => model.PostTime)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PostID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
</div>