﻿@{
    ViewBag.Title = "Index";
}

<div id="login">
<h3>Returning visitors may Log In @Html.ActionLink("here", "../User/Login")</h3>
<h3>New users may register @Html.ActionLink("here", "../User/Create")</h3>

</div>
